@font-face
{	font-family: 'IHead';
	src: url('fonts/introheadr-base.otf');}
@font-face
{	font-family: 'IRust';
	src: url('fonts/introrustg-base2line.otf');}
@font-face
{	font-family: 'IScript';
	src: url('fonts/introscriptr-h2base.otf');}
*
{	font-family: calibri, arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	text-decoration: none;}
body
{	margin: 0px 0px 0px 0px;
	background-color: #000000;}
nav, .KM
{	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	flex-wrap: wrap;
	padding-bottom: 10px;}
.KM1
{	/*boîte*/
	border : 3px solid #96f8fa;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 0px 0px;
	background-color: #292f21;
	/*texte*/
	font-family: 'IRust', calibri, arial, sans-serif;
	font-size: 34px;
	color: #fcef9b;
	text-shadow: #b76023 5px 5px 5px;
	text-align: center;}
.sommaire
{	border : 3px solid #96f8fa;
	padding: 3px 5px 3px 5px;
	margin: 0px 0px 0px 0px;
	background-color: #292f21;}
.sommair
{	font-size: 20px;
	color: #fcef9b;}
.sommair:hover
{	font-weight: bold;}
p
{	margin: 0px 20px 0px 20px;}
header
{	background-image: url("images/baniere.png");
	background-size: 1000px;}
h1
{	font-family: 'IRust', calibri, arial, sans-serif;
	font-size: 34px;
	color: #ffffff;
	text-shadow: #000000 5px 5px 5px;
	text-align: center;}
/* coucou toi */
section
{	width: 90%;
	margin-left: auto;
	margin-right: auto;}
h2
{	font-size: 26px;
	font-weight: bold;
	color : #fcef9b;
	margin: 5px 5px 5px 5px;}
.footer
{	text-align : right;
	color: #274a87;}
section a
{	font-size: 20px;
	font-weight: bold;
	color: #fcef9b;}
section a:hover
{	font-style: italic;}

/* Incarnations Solos*/

.incar_sol
{	max-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 3px solid white;
	margin-bottom: 5px;
	padding-bottom: 5px;}
.incar_solo
{	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;}
.incar_solos
{	margin: 10px 5px 10px 5px;}

@media screen and (max-width: 800px)
{
	.incar_solo, .incar_sol
	{	flex-direction: column;
		align-items: center;}
	.incar_solos
	{	max-width: 33%;
		min-width: 300px;}
}
