@font-face
{	font-family: 'IHead';
	src: url('fonts/introheadr-base.otf');}
@font-face
{	font-family: 'IRust';
	src: url('fonts/introrustg-base2line.otf');}
@font-face
{	font-family: 'IScript';
	src: url('fonts/introscriptr-h2base.otf');}
*
{	font-family: calibri, arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	text-decoration: none;}
body
{	margin: 0px 0px 0px 0px;
	background-color: #000000;}
nav, .KM
{	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	flex-wrap: wrap;
	padding-bottom: 10px;}
.KM1
{	/*boîte*/
	border : 3px solid #96f8fa;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 0px 0px;
	background-color: #292f21;
	/*texte*/
	font-family: 'IRust', calibri, arial, sans-serif;
	font-size: 34px;
	color: #fcef9b;
	text-shadow: #b76023 5px 5px 5px;
	text-align: center;}
.sommaire
{	border : 3px solid #96f8fa;
	padding: 3px 5px 3px 5px;
	margin: 0px 0px 0px 0px;
	background-color: #292f21;}
.sommair
{	font-size: 20px;
	color: #fcef9b;}
.sommair:hover
{	font-weight: bold;}
p
{	margin: 0px 20px 0px 20px;}
header
{	background-image: url("images/baniere.png");
	background-size: 1000px;}
h1
{	font-family: 'IRust', calibri, arial, sans-serif;
	font-size: 34px;
	color: #ffffff;
	text-shadow: #000000 5px 5px 5px;
	text-align: center;}
/* coucou toi */
section
{	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;}
h2
{	font-size: 26px;
	font-weight: bold;
	margin: 5px 5px 5px 5px;
	color: #fcef9b;}
.footer
{	text-align : right;
	color: #274a87;}
section a
{
	font-size: 20px;
	font-weight: bold;
	color: #fcef9b;}
section a:hover
{	font-style: italic;}

/*Sommaire*/
#sommairordre
{	text-align: center;
	margin: 0px 0px 10px 0px;}
.sommaireordre
{	width: 90%;
	height: 400px;
	overflow: auto;
	border : 1px solid #ffffff;}
.sommaireordre p
{	font-size: 14px;}
.sommaireordre a
{ 	font-size: 14px;
	color: #ffffff;
	font-weight: normal;}
.sommaireordre a:hover
{	font-style: normal;
	font-weight: bold;
	color: #ffffff;}

/*titre + fleche up*/

.nivo
{	font-size: 16px;
	font-weight: bold;}
.niveau
{	text-align: center;}
.h2_ordre 
{	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 26px;
	margin:  5px 0px 5px 0px;
	color: #fcef9b;
	clear: both;}
.h2_ordre_titre
{	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	margin:  5px 0px 5px 0px;
	color: #fcef9b;}
.info
{	font-style: italic;
	font-size: 14px;}
.info_h2 /* partie en italique du titre */
{	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	color: #fcef9b;;}

/*Couleurs liens*/

li a
{	font-size: 16px;
	color: #ffffff;
	font-weight: normal;}
li a:hover
{	font-style: normal;
	font-weight: bold;
	color: #ffffff;}

.boss
{	font-weight: bold;}
.bonta
{	color: deepskyblue;}
.brakmar
{	color: red;}
.avis
{	color: orange;}
.justicier
{	color: yellow;}
.robill
{	color: limegreen;}
.tompouce
{	color: lightgreen;}
.six
{	color: magenta;}
.ddg
{	color: skyblue;}
.bonta:hover, .brakmar:hover, .avis:hover, .justicier:hover, .robill:hover, .tompouce:hover, .six:hover, .ddg:hover
{	font-weight: bold;}

/*Images*/
ul
{	margin-bottom: 0px;
	margin-top: 0px;}
.img_titre
{	height: 40px;}

/*Boss de donjon*/
.boss_bloc
{	display: flex;
	justify-content: space-between;
	align-items: center;
	clear: both;}
.img_boss
{	height: 100px;}
.img_boss_r
{	height: 1px;}